/* Main styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300");
/* line 5, ../../Techdegree-Project-7/scss/styles.scss */
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/* line 10, ../../Techdegree-Project-7/scss/styles.scss */
h1 {
  font-weight: bold;
  margin: 0;
}

/* line 15, ../../Techdegree-Project-7/scss/styles.scss */
h3 {
  text-transform: uppercase;
  font-weight: normal;
  padding: 24px 24px 12px;
  margin: 0;
}

/* Header */
/* line 24, ../../Techdegree-Project-7/scss/styles.scss */
header {
  grid-area: header;
  background-color: #7477BF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  color: white;
}

/* line 33, ../../Techdegree-Project-7/scss/styles.scss */
header h1 {
  line-height: 72px;
  padding-left: 24px;
}

/* line 38, ../../Techdegree-Project-7/scss/styles.scss */
header svg {
  transition: transform .3s ease-out;
}

/* line 41, ../../Techdegree-Project-7/scss/styles.scss */
header svg:hover {
  transform: rotate(30deg) scale(1.1);
}

/* line 46, ../../Techdegree-Project-7/scss/styles.scss */
header img {
  height: 48px;
  border-radius: 50%;
  margin: auto 12px;
}

/* line 52, ../../Techdegree-Project-7/scss/styles.scss */
header p {
  display: none;
  line-height: 72px;
  padding: 0 8px;
  margin: 0;
  font-weight: bold;
}

@media (min-width: 450px) {
  /* line 52, ../../Techdegree-Project-7/scss/styles.scss */
  header p {
    display: block;
  }
}

/* line 64, ../../Techdegree-Project-7/scss/styles.scss */
header .divider {
  height: 48px;
  width: 2px;
  background-color: black;
  margin: auto;
}

/* line 72, ../../Techdegree-Project-7/scss/styles.scss */
.app-name {
  font-weight: normal;
}

/* line 76, ../../Techdegree-Project-7/scss/styles.scss */
.notifications {
  display: flex;
}

/* line 79, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon {
  position: relative;
}

/* line 82, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon svg {
  height: 36px;
  margin: 18px 12px;
}

/* line 87, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon .dropdown-content {
  display: none;
}

/* line 91, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon .showDropdown {
  display: block;
  position: absolute;
  background-color: white;
  width: 225px;
  border: 1px solid gray;
  border-radius: 5px;
}

/* line 99, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon .showDropdown ol {
  padding: 8px;
  margin: auto;
}

/* line 104, ../../Techdegree-Project-7/scss/styles.scss */
.notifications .notify-icon .showDropdown li {
  list-style-position: inside;
  padding: 8px;
  color: #4D4C72;
}

/* line 112, ../../Techdegree-Project-7/scss/styles.scss */
.notifications #notifications {
  position: absolute;
  background-color: #81C98F;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  top: 17%;
  right: 23%;
}

/* Nav */
/* line 125, ../../Techdegree-Project-7/scss/styles.scss */
nav {
  grid-area: nav;
  background-color: #4D4C72;
  height: 72px;
  display: flex;
  justify-content: space-around;
}

/* line 132, ../../Techdegree-Project-7/scss/styles.scss */
nav img {
  height: 48px;
  margin: 12px 0;
}

@media (min-width: 420px) {
  /* line 125, ../../Techdegree-Project-7/scss/styles.scss */
  nav {
    justify-content: center;
  }
  /* line 140, ../../Techdegree-Project-7/scss/styles.scss */
  nav img {
    margin: 12px 24px;
  }
}

/* Main */
/* line 148, ../../Techdegree-Project-7/scss/styles.scss */
.main-header {
  display: flex;
  height: 68px;
}

/* line 152, ../../Techdegree-Project-7/scss/styles.scss */
.main-header h2 {
  padding: 24px;
  text-align: center;
  margin: auto;
  flex-grow: 1;
}

/* line 159, ../../Techdegree-Project-7/scss/styles.scss */
.main-header .main-header-search {
  display: flex;
  justify-content: flex-end;
  background-color: #f0f0f0;
  flex-grow: 8;
  border: 1px solid lightgray;
}

/* line 167, ../../Techdegree-Project-7/scss/styles.scss */
.main-header input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 8px;
  margin: 14px 12px 14px 0;
  max-width: 300px;
  width: 90%;
}

/* line 177, ../../Techdegree-Project-7/scss/styles.scss */
.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7477BF;
  color: white;
  border-radius: 5px;
  margin: 12px 12px;
}

/* line 186, ../../Techdegree-Project-7/scss/styles.scss */
.alert p {
  padding-left: 12px;
}

/* line 190, ../../Techdegree-Project-7/scss/styles.scss */
.alert span {
  padding-right: 12px;
}

/* line 193, ../../Techdegree-Project-7/scss/styles.scss */
.alert span:hover {
  color: black;
}

/* line 200, ../../Techdegree-Project-7/scss/styles.scss */
main {
  grid-area: main;
}

/* Overall Page Grid Layout */
/* line 206, ../../Techdegree-Project-7/scss/styles.scss */
.grid-container-body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: 'header' 'nav' 'main';
}

/* Main Information Grid Layout */
/* line 219, ../../Techdegree-Project-7/scss/styles.scss */
.grid-container-main {
  display: grid;
}

/* line 223, ../../Techdegree-Project-7/scss/styles.scss */
.widget-container-full,
.widget-container-half {
  width: 90vw;
  margin: 0 auto;
}

/* Traffic Widget */
/* line 230, ../../Techdegree-Project-7/scss/styles.scss */
.traffic {
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

/* line 234, ../../Techdegree-Project-7/scss/styles.scss */
.traffic .widget-container-full {
  position: relative;
}

/* line 238, ../../Techdegree-Project-7/scss/styles.scss */
.traffic .traffic-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 450px) {
  /* line 238, ../../Techdegree-Project-7/scss/styles.scss */
  .traffic .traffic-header {
    flex-direction: row;
  }
}

/* line 247, ../../Techdegree-Project-7/scss/styles.scss */
.traffic .traffic-header .traffic-nav {
  display: flex;
  list-style: none;
  margin-right: 24px;
  padding-left: 0;
}

/* line 253, ../../Techdegree-Project-7/scss/styles.scss */
.traffic .traffic-header .traffic-nav .activeLi {
  color: white;
  background-color: #81C98F;
  border: none;
  border-radius: 25px;
}

/* line 260, ../../Techdegree-Project-7/scss/styles.scss */
.traffic .traffic-header .traffic-nav li {
  padding: 10px;
  margin-left: 4px;
}

/* Daily-Traffic & Mobile Users Widgets */
/* line 269, ../../Techdegree-Project-7/scss/styles.scss */
.daily-traffic,
.mobile-users {
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

/* line 275, ../../Techdegree-Project-7/scss/styles.scss */
.daily-traffic .widget-container-half,
.mobile-users .widget-container-half {
  position: relative;
}

/* Social Widget */
/* line 281, ../../Techdegree-Project-7/scss/styles.scss */
.social {
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

/* line 285, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-trio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 36px;
}

/* line 292, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-container {
  display: flex;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 12px;
  width: 100%;
  margin: 12px 24px;
}

/* line 302, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7477BF;
  border-radius: 50%;
  height: 82px;
  width: 82px;
  margin-right: 18px;
}

/* line 313, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-text {
  padding-top: 12px;
}

/* line 317, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-network {
  color: #7477BF;
  font-weight: bold;
  margin: 0;
}

/* line 323, ../../Techdegree-Project-7/scss/styles.scss */
.social .social-number {
  font-size: 36px;
  margin: 0;
}

/* line 328, ../../Techdegree-Project-7/scss/styles.scss */
.social svg {
  height: 65%;
}

/* line 332, ../../Techdegree-Project-7/scss/styles.scss */
.social .twitter-svg {
  padding-top: 8px;
}

/* New Members and Recent Activity Widgets */
/* line 338, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity,
.new-members {
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

/* line 345, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity h3,
.new-members h3 {
  padding-bottom: 0;
}

/* line 349, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity div,
.new-members div {
  margin: 0 24px;
}

/* line 353, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity .section-container,
.new-members .section-container {
  display: flex;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid lightgray;
}

/* line 358, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity .section-container:last-child,
.new-members .section-container:last-child {
  border: none;
}

/* line 362, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity .section-container a,
.new-members .section-container a {
  display: inline-block;
  color: #7477BF;
  text-decoration: none;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 372, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity .section-container img,
.new-members .section-container img {
  border-radius: 50%;
  height: 50px;
  margin-right: 0;
}

/* line 378, ../../Techdegree-Project-7/scss/styles.scss */
.recent-activity .section-container p,
.new-members .section-container p {
  margin: 0;
  margin-left: auto;
}

/* Message User Widget */
/* line 386, ../../Techdegree-Project-7/scss/styles.scss */
.message-user {
  border-bottom: 1px solid lightgray;
  padding-bottom: 24px;
}

/* line 390, ../../Techdegree-Project-7/scss/styles.scss */
.message-user form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 24px;
}

/* line 397, ../../Techdegree-Project-7/scss/styles.scss */
.message-user form form-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

/* line 404, ../../Techdegree-Project-7/scss/styles.scss */
.message-user form input,
.message-user form textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 18px;
  background-color: #f0f0f0;
  padding: 12px;
}

/* line 413, ../../Techdegree-Project-7/scss/styles.scss */
.message-user form textarea {
  height: 111px;
  margin-bottom: 24px;
}

/* line 421, ../../Techdegree-Project-7/scss/styles.scss */
#usersNames {
  display: none;
  position: absolute;
  padding: 30px 0 0;
}

/* line 426, ../../Techdegree-Project-7/scss/styles.scss */
#usersNames li {
  background: white;
  border: solid 2px #4D4C72;
  border-radius: 5px;
  list-style-type: none;
  padding: 8px;
  margin-top: 2px;
}

/* line 435, ../../Techdegree-Project-7/scss/styles.scss */
#usersNames :hover {
  background: #7477BF;
  color: white;
  cursor: pointer;
}

/* line 442, ../../Techdegree-Project-7/scss/styles.scss */
.button-primary {
  padding: 12px;
  margin-bottom: 24px;
  color: white;
  background-color: #7477BF;
  border: none;
  border-radius: 5px;
}

/* Settings Widget */
/* line 454, ../../Techdegree-Project-7/scss/styles.scss */
.settings div {
  margin: 0 24px;
}

/* line 458, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-option {
  display: flex;
  padding: 12px 0;
}

/* line 462, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-option .option-name {
  width: 45%;
}

/* line 466, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-option .toggle {
  width: 96px;
}

/* line 471, ../../Techdegree-Project-7/scss/styles.scss */
.settings .dropdown {
  margin: 0 24px;
}

/* line 475, ../../Techdegree-Project-7/scss/styles.scss */
.settings .form-field {
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: gray;
  background-color: #f0f0f0;
  padding: 12px;
  margin: 12px 0 24px;
  width: 100%;
}

/* line 486, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-buttons {
  display: flex;
  justify-content: space-between;
}

/* line 490, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-buttons button {
  width: 100%;
}

/* line 494, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-buttons .button-primary {
  margin-right: 12px;
}

/* line 498, ../../Techdegree-Project-7/scss/styles.scss */
.settings .settings-buttons .button-disabled {
  padding: 12px;
  margin-left: 12px;
  margin-bottom: 24px;
  color: white;
  background-color: #B2B2B2;
  border: none;
  border-radius: 5px;
}

/* Media Queries */
@media (min-width: 768px) {
  /* line 515, ../../Techdegree-Project-7/scss/styles.scss */
  .widget-container-full,
  .widget-container-half {
    width: calc(100% - 55px);
  }
  /* line 520, ../../Techdegree-Project-7/scss/styles.scss */
  .grid-container-body {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 'header header' 'nav main';
  }
  /* line 527, ../../Techdegree-Project-7/scss/styles.scss */
  nav {
    height: auto;
    flex-direction: column;
    justify-content: start;
  }
  /* line 532, ../../Techdegree-Project-7/scss/styles.scss */
  nav a {
    align-content: center;
  }
  /* line 536, ../../Techdegree-Project-7/scss/styles.scss */
  nav img {
    height: 32px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  /* line 544, ../../Techdegree-Project-7/scss/styles.scss */
  .pre-graph-content {
    display: inline;
  }
  /* line 548, ../../Techdegree-Project-7/scss/styles.scss */
  .social .social-trio {
    flex-wrap: nowrap;
  }
  /* line 552, ../../Techdegree-Project-7/scss/styles.scss */
  .social .social-number {
    font-size: 24px;
  }
  /* line 555, ../../Techdegree-Project-7/scss/styles.scss */
  .social .social-image {
    height: 64px;
    width: 64px;
  }
  /* line 562, ../../Techdegree-Project-7/scss/styles.scss */
  .recent-activity .section-container a,
  .new-members .section-container a {
    width: 230px;
  }
}

@media (min-width: 1024px) {
  /* line 570, ../../Techdegree-Project-7/scss/styles.scss */
  .grid-container-main {
    grid-template-columns: 50%;
  }
  /* line 574, ../../Techdegree-Project-7/scss/styles.scss */
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  /* line 579, ../../Techdegree-Project-7/scss/styles.scss */
  .daily-traffic,
  .new-members,
  .message-user {
    grid-column: 1 / span 1;
    border-right: 1px solid lightgray;
  }
  /* line 586, ../../Techdegree-Project-7/scss/styles.scss */
  .mobile-users,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
  /* line 594, ../../Techdegree-Project-7/scss/styles.scss */
  .daily-traffic .widget-container-half,
  .mobile-users .widget-container-half {
    width: 45vw;
  }
  /* line 599, ../../Techdegree-Project-7/scss/styles.scss */
  .new-members {
    display: inline;
  }
  /* line 603, ../../Techdegree-Project-7/scss/styles.scss */
  .message-user {
    border-bottom: none;
  }
  /* line 607, ../../Techdegree-Project-7/scss/styles.scss */
  .section-container {
    max-height: 98px;
  }
}

/*# sourceMappingURL=styles.css.map */