header {
    grid-area: header;
    background-color: #7477BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    color: white;

    h1 {
        line-height: 72px;
        padding-left: 24px;
    }

    svg {
        transition: transform .3s ease-out;
        
        &:hover {
            transform: rotate(30deg) scale(1.05);
        }
    }

    img {
        height: 48px;
        border-radius: 50%;
        margin: auto 12px;
    }

    p {
        display: none;
        line-height: 72px;
        padding: 0 8px;
        margin: 0;
        font-weight: bold;

        @media (min-width: 450px) {
            display: block;
        }
    }

    .divider {
        height: 48px;
        width: 2px;
        background-color: black;
        margin: auto;
    }
}

.app-name {
    font-weight: normal;
}

.notifications {
    display: flex;

    .notify-icon {
        position: relative;

        svg {
            height: 36px;
            margin: 18px 12px;
        }

        .dropdown-content {
            display: none;
        }

        .showDropdown {
            display: block;
            position: absolute;
            background-color: white;
            width: 225px;
            border: 1px solid gray;
            border-radius: 5px;
            
            ol {
                padding: 8px;
                margin: auto;
            }

            li {
                list-style-position: inside;
                padding: 8px;
                color: #4D4C72;
            }
        }
    }

    #notifications {
        position: absolute;
        background-color: #81C98F;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        top: 17%;
        right: 23%;
    }
}