.social {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;

    .social-trio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 36px;
    }
    
    .social-container {
        display: flex;
        background-color: #f0f0f0;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 12px;
        width: 100%;
        margin: 12px 24px;
    }

    .social-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7477BF;
        border-radius: 50%;
        height: 82px;
        width: 82px;
        margin-right: 18px;
    }

    .social-text {
        padding-top: 12px;
    }

    .social-network {
        color: #7477BF;
        font-weight: bold;
        margin: 0;
    }

    .social-number {
        font-size: 36px;
        margin: 0;
    }

    svg {
        height: 65%;
    }

    .twitter-svg {
        padding-top: 8px;
    }
}