/* Main styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    font-weight: normal;
    padding: 24px 24px 12px;
    margin: 0;
}

/* Header */

header {
    grid-area: header;
    background-color: #7477BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 72px;
    color: white;

    h1 {
        line-height: 72px;
        padding-left: 24px;
    }

    svg {
        transition: transform .3s ease-out;
        
        &:hover {
            transform: rotate(30deg) scale(1.1);
        }
    }

    img {
        height: 48px;
        border-radius: 50%;
        margin: auto 12px;
    }

    p {
        display: none;
        line-height: 72px;
        padding: 0 8px;
        margin: 0;
        font-weight: bold;

        @media (min-width: 450px) {
            display: block;
        }
    }

    .divider {
        height: 48px;
        width: 2px;
        background-color: black;
        margin: auto;
    }
}

.app-name {
    font-weight: normal;
}

.notifications {
    display: flex;

    .notify-icon {
        position: relative;

        svg {
            height: 36px;
            margin: 18px 12px;
        }

        .dropdown-content {
            display: none;
        }

        .showDropdown {
            display: block;
            position: absolute;
            background-color: white;
            width: 225px;
            border: 1px solid gray;
            border-radius: 5px;
            
            ol {
                padding: 8px;
                margin: auto;
            }

            li {
                list-style-position: inside;
                padding: 8px;
                color: #4D4C72;
            }
        }
    }

    #notifications {
        position: absolute;
        background-color: #81C98F;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        top: 17%;
        right: 23%;
    }
}

/* Nav */

nav {
    grid-area: nav;
    background-color: #4D4C72;
    height: 72px;
    display: flex;
    justify-content: space-around;
    
    img {
        height: 48px;
        margin: 12px 0;
    }

    @media (min-width: 420px) {
        justify-content: center;

        img {
            margin: 12px 24px;
        }
    }
}

/* Main */

.main-header {
    display: flex;
    height: 68px;

    h2 {
        padding: 24px;
        text-align: center;
        margin: auto;
        flex-grow: 1;
    }

    .main-header-search {
        display: flex;
        justify-content: flex-end;
        background-color: #f0f0f0;
        flex-grow: 8;
        border: 1px solid lightgray;
    }

    input {
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 8px;
        margin: 14px 12px 14px 0;
        max-width: 300px;
        width: 90%;
    }
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7477BF;
    color: white;
    border-radius: 5px;
    margin: 12px 12px;

    p {
        padding-left: 12px;
    }

    span {
        padding-right: 12px;

        &:hover {
            color: black;
        }
    }

}

main {
    grid-area: main;
}

/* Overall Page Grid Layout */

.grid-container-body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        'header'
        'nav'
        'main';
}


/* Main Information Grid Layout */

.grid-container-main {
    display: grid;
}

.widget-container-full,
.widget-container-half {
    width: 90vw;
    margin: 0 auto;
}

/* Traffic Widget */
.traffic {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;

    .widget-container-full {
        position: relative;
    }

    .traffic-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 450px) {
            flex-direction: row;
        }

        .traffic-nav {
            display: flex;
            list-style: none;
            margin-right: 24px;
            padding-left: 0;

            .activeLi {
                color: white;
                background-color: #81C98F;
                border: none;
                border-radius: 25px;
            }

            li {
                padding: 10px;
                margin-left: 4px;
            }
        }
    }
}

/* Daily-Traffic & Mobile Users Widgets */
.daily-traffic,
.mobile-users {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;


    .widget-container-half {
        position: relative;
    }
}

/* Social Widget */
.social {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;

    .social-trio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 36px;
    }
    
    .social-container {
        display: flex;
        background-color: #f0f0f0;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 12px;
        width: 100%;
        margin: 12px 24px;
    }

    .social-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #7477BF;
        border-radius: 50%;
        height: 82px;
        width: 82px;
        margin-right: 18px;
    }

    .social-text {
        padding-top: 12px;
    }

    .social-network {
        color: #7477BF;
        font-weight: bold;
        margin: 0;
    }

    .social-number {
        font-size: 36px;
        margin: 0;
    }

    svg {
        height: 65%;
    }

    .twitter-svg {
        padding-top: 8px;
    }
}

/* New Members and Recent Activity Widgets */
.recent-activity,
.new-members {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;

    h3 {
        padding-bottom: 0;
    }

    div {
        margin: 0 24px;
    }

    .section-container {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-bottom: 1px solid lightgray;
        &:last-child {
            border: none;
        }

        a {
            display: inline-block;
            color: #7477BF;
            text-decoration: none;
            width: 120px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img {
            border-radius: 50%;
            height: 50px;
            margin-right: 0;
        }

        p {
            margin: 0;
            margin-left: auto;
        }
    }
}

/* Message User Widget */
.message-user {
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;
    
    form {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0 24px;

        form-items {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
        }

        input,
        textarea {
            border: 1px solid lightgray;
            border-radius: 5px;
            margin-bottom: 18px;
            background-color: #f0f0f0;
            padding: 12px;
        }

        textarea {
            height: 111px;
            margin-bottom: 24px;

        }
    }
}

#usersNames {
    display: none;
    position: absolute;
    padding: 30px 0 0;

    li {
        background: white;
        border: solid 2px #4D4C72;
        border-radius: 5px;
        list-style-type: none;
        padding: 8px;
        margin-top: 2px;
    }

    :hover {
        background: #7477BF;
        color: white;
        cursor: pointer;
    }
}

.button-primary {
    padding: 12px;
    margin-bottom: 24px;
    color: white;
    background-color: #7477BF;
    border: none;
    border-radius: 5px;
}

/* Settings Widget */

.settings {
    div {
        margin: 0 24px;
    }

    .settings-option {
        display: flex;
        padding: 12px 0;

        .option-name {
            width: 45%;
        }

        .toggle {
            width: 96px;
        }
    }

    .dropdown {
        margin: 0 24px;
    }

    .form-field {
        display: block;
        border: 1px solid lightgray;
        border-radius: 5px;
        color: gray;
        background-color: #f0f0f0;
        padding: 12px;
        margin: 12px 0 24px;
        width: 100%;
    }

    .settings-buttons {
        display: flex;
        justify-content: space-between;

        button {
            width: 100%;
        }

        .button-primary {
            margin-right: 12px;
        }

        .button-disabled {
            padding: 12px;
            margin-left: 12px;
            margin-bottom: 24px;
            color: white;
            background-color: #B2B2B2;
            border: none;
            border-radius: 5px;
        }
    }
}




/* Media Queries */
@media (min-width: 768px) {
    .widget-container-full,
    .widget-container-half {
        width: calc(100% - 55px);
    }

    .grid-container-body {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        'header header'
        'nav main';
    }

    nav {
        height: auto;
        flex-direction: column;
        justify-content: start;

        a {
            align-content: center;
        }

        img {
            height: 32px;
            width: 100%;
            margin: auto;
            margin-top: 20px;
        }
    }

    .pre-graph-content {
        display: inline;
    }

    .social .social-trio {
        flex-wrap: nowrap;
    }

    .social .social-number {
        font-size: 24px;
    }
    .social .social-image {
        height: 64px;
        width: 64px;
    }

    .recent-activity, 
    .new-members {
        .section-container a {
        width: 230px;
        }
    }

}

@media (min-width: 1024px) {
    .grid-container-main {
        grid-template-columns: 50%;
    }

    .traffic,  
    .social {
        grid-column: 1 / span 2;
    }

    .daily-traffic,
    .new-members,
    .message-user {
        grid-column: 1 / span 1;
        border-right: 1px solid lightgray;
    }

    .mobile-users,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .daily-traffic,
    .mobile-users {
        .widget-container-half {
            width: 45vw;
        }
    }

    .new-members {
        display: inline;
    }

    .message-user {
        border-bottom: none;
    }

    .section-container {
        max-height: 98px;
    }
}